$margins: (
  default: 2em 0 0 0
);

.news-feed {
  text-align: justify;

  .news-node {
    margin: map-get($margins, default);

    .date {
     font-style: italic;
    }

    .title {
      font-size: 16px;
    }

    
  }
}