@import "./animations.scss";
@import "./fog.scss";
@import "./news.scss";
@import "./music.scss";

$colors: (
  primary: #666,
  primary-hover: #777,
  background: #000,
  font: #666
);

$opacities: (
  brand-hover: 1,
  brand-not-hover: 0.9
);

$imgs: (
  mainTitle: url("../img/title.png")
);

$margins: (
  defaultPage: 10em 0 0 0,
  defaultPhonePage: 12em 0 3em 0,
  defaultTop: 5em 0 0 0,
  m: 0em 0 5em 0
);

* {
  color: map-get($colors, font);
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: map-get($colors, background);
}

a:hover {
  color: map-get($colors, primary-hover);
}

.mainTitle {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 25em;
  margin: map-get($margins, m);

  content: map-get($imgs, mainTitle);
}

ul.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;

  li {
    flex-grow: 1;
    a {
      margin: 0 5px 0 5px;
      text-decoration: none;
    }
  }
}

.brand {
  opacity: map-get($opacities, brand-not-hover);
  content: map-get($imgs, mainTitle);
  width: 100%;
  max-width: 15vh;
}

.brand:hover {
  opacity: map-get($opacities, brand-hover);
}

.flexbox-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-centered {
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.textbox {
  max-width: 75%;
  width: 45em;
}

.m-t-3 {
  margin-top: 3em;
}

.text-justified {
  text-align: justify;
}

.primary-link {
  text-decoration: none;
}

header {
  z-index: 1001;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1em 2em;

  nav {
    top: 0;
    ul {
      list-style: none;

      li {
        padding: 1em;
        margin-right: auto;
        display: inline-block;
      }
    }
  }
}

.page {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin: map-get($margins, defaultPage);
  margin-bottom: 3em;

  .title {
    font-size: xx-large;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  header {
    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: right;
        li {
          padding: 0.5em;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .home-page,
  .biography {
    margin-top: 3em;
  }

  .mainTitle {
    padding: 0 1em 0 1em;
  }

  .page {
    margin: map-get($margins, defaultPhonePage);
  }
}

footer {
  z-index: -1;
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  nav {
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}
